<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Search" verbose ="5" parallel="methods" thread-count="10">

    <listeners>
        <listener class-name="utils.ExtentReportListener"></listener>
    </listeners>
        	
    <test name="SearchTest">
        <groups>		
            <run>		
                <include name="Regression" />		
            </run>		
        </groups>
        <classes>
            <class name="test.TestSearch"></class>
        </classes>
    </test>
</suite>